# dependencies
node_modules

# logs
logs
*.log

# pnpm
.pnpm-debug.log*

# production
dist

# vite

# custom
.DS_Store
*.local
*.local.*
*.tsbuildinfo

# turbo
.turbo

# vscode
.vscode/*
!.vscode/settings.json.default
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
